<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>时光捕手</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        webview {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <webview id="myWebview" src="" partition="persist:appSession" allowpopups></webview>

    <script>
        const webview = document.getElementById('myWebview');
        const urlParams = new URLSearchParams(window.location.search);
        const url = urlParams.get('url');

        if (url) {
            webview.setAttribute('src', url);
        }
    </script>
</body>
</html>